
.botones:hover {
    background-color: #0056b3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    /*
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5); 
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); 
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.5); */
}

/* Ocultar todos los formularios al principio */
.formulario {
    display: none;
}

/* Mostrar el formulario correspondiente cuando se active por :target */
.formulario:target {
    display: block;
}

.efecto-escala:hover{
    transform: scale(1.1);

}
.efecto-escala-gigante:hover{
    transform: scale(1.2);

}

.efecto-fondo:hover{
    border-radius: 20px;
    background-color: var(--bg-color-verde);
    
}

.efecto-sombreado:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 1); 
}