:root {
    --bg-color-azul: #3d5a80;   /* Color azul */
    --bg-color-verde:#98c1d9;   /* Color verde */
    --bg-color-rojo: #e0fbfc;   /* Color rojo */
    --bg-color-amarillo: #ee6c4d;  /* Color amarillo */
    --color-fuente:  #293241;    /* Color morado */
    --color-fuente-negro:  #000102;    /* Color Negro */
}