@import "./colores.css";
@import "./variables.css";
@import "./custom.css";
@import "./animaciones.css";
@import "./pagina-index.css";
@import "./header.css";
@import "./pagina-clientes.css";

body, html{
    height: 100%;
    margin: 0;
    padding: 0;
    
}





